<div class="contain">

  <div class="contains-section">

    <div class="card card-logo">

      <div>
        <img class="topimage" src="../assets/images/logo.svg">
      </div>

      <div class="box-btns">
        <div class="btn">
          <img src="../assets/images/icon-document.svg">
        </div>

        <div class="btn">
          <img src="../assets/images/icon-folder.svg" alt="">
        </div>

        <div class="btn">
          <img src="../assets/images/icon-upload.svg" alt="">
        </div>

      </div>


    </div>



    <div class="card storage-card">
      <p>you have used <strong>815 GB</strong> of your storage</p>
      <div class="progress">
        <div class="progress-bar">

          <div class="ball"></div>
        </div>
      </div>

      <div class="text">
        <p>0 G</p>
        <p>1000 G</p>
      </div>

      <div class="quota">
        <div class="quota-text">
          <strong>185 </strong>GB left
        </div>
        <div class="arrow-up"></div>
      </div>

    </div>

    <div class="imagebg">

    </div>


  </div>
</div>
